@font-face {
    font-family: 'Scamp-Player';
    src:
        url('Scamp-Player.ttf') format('truetype'),
        url('Scamp-Player.woff') format('woff'),
        url('Scamp-Player.svg#Scamp-Player') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Scamp-Player' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-skip-back:before {
  content: "\e050";
}
.icon-play:before {
  content: "\e052";
}
.icon-pause:before {
  content: "\e053";
}
.icon-skip-forward:before {
  content: "\e056";
}
.icon-volume:before {
  content: "\e098";
}
.icon-mute:before {
  content: "\e099";
}
.icon-plus:before {
  content: "\e114";
}
.icon-minus:before {
  content: "\e115";
}
.icon-check:before {
  content: "\e116";
}
.icon-cross:before {
  content: "\e117";
}
.icon-menu2:before {
  content: "\e120";
}
.icon-outbox:before {
  content: "\e123";
}
.icon-inbox:before {
  content: "\e122";
}
.icon-ellipsis:before {
  content: "\e129";
}
.icon-playlist_play:before {
  content: "\e902";
}
.icon-pause2:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e901";
}
.icon-loop:before {
  content: "\e600";
}
.icon-shuffle:before {
  content: "\e601";
}
.icon-soundcloud:before {
  content: "\e602";
}
.icon-facebook:before {
  content: "\e604";
}
.icon-google:before {
  content: "\e606";
}
.icon-twitter:before {
  content: "\e608";
}
.icon-add-shopping-cart:before {
  content: "\e609";
}
.icon-favorite:before {
  content: "\e60a";
}
.icon-highlight-remove:before {
  content: "\e60b";
}
.icon-toc:before {
  content: "\e60c";
}
.icon-error:before {
  content: "\e60d";
}
.icon-fast-forward:before {
  content: "\e60e";
}
.icon-fast-rewind:before {
  content: "\e60f";
}
.icon-pause-circle-outline:before {
  content: "\e611";
}
.icon-play-arrow:before {
  content: "\e612";
}
.icon-play-circle-outline:before {
  content: "\e613";
}
.icon-queue-mus:before {
  content: "\e614";
}
.icon-skip-next:before {
  content: "\e616";
}
.icon-skip-previous:before {
  content: "\e617";
}
.icon-volume-down:before {
  content: "\e618";
}
.icon-volume-mute:before {
  content: "\e619";
}
.icon-volume-off:before {
  content: "\e61a";
}
.icon-volume-up:before {
  content: "\e61b";
}
.icon-remove-circle-outline:before {
  content: "\e61c";
}
.icon-cancel:before {
  content: "\e61e";
}
.icon-menu:before {
  content: "\e61f";
}
.icon-sync:before {
  content: "\e620";
}
.icon-share:before {
  content: "\e621";
}
.icon-download:before {
  content: "\e900";
}
